.WhiteBox{
    border-radius: 15px;
    border:20px solid rgb(225, 155, 22);
    min-width: 500px;
    min-height: 200px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
    text-align: center;
}
