.circle{
    width:30px;
    height: 30px;
    border-radius: 50px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    margin: 0;
    padding: 0;
}

